<section id="benefits" class="benefits bg-primary text-center">
        <div class="container"> 
            <div class="row">
               <h2>Benefits of FRC®</h2>
              <div class="col-md-8 col-md-offset-2">
               <p>Developed by world-renowned musculoskeletal and human movement expert Dr. Andreo Spina, Functional Range Conditioning (FRC®), is a system of joint health and mobility training based on new scientific research.</p>
               </div> 
               <div class="row"></div>
               <div class="col-md-4">
                   <div class="brdr">
                   <img width="50" src="/img/mobility.svg" alt="Mobility & Flexibility">
                    <h3>Mobility & Flexibility</h3>
                   </div>
                   
               </div>
               
               
               <div class="col-md-4">
                  <div class="brdr">
                   <img width="70" src="/img/joints.svg" alt="Joint Strength">
     
                <h3>Joint Strength</h3>
                </div>
               </div>
               
               
               <div class="col-md-4">
                 <div class="brdr">
                  <img width="50" src="/img/artical.svg" alt="Articular Health & Longevity">
                   <h3>Articular Health & Longevity</h3>
                   </div>
               </div>


            </div>
            
            <div class="row mt50">
                               
               <div class="col-md-6">
                  <div class="brdr">
                   <img width="50" src="/img/performace.svg" alt="Performance Enhancement">
                   <h3>Performance Enhancement</h3>
                   </div>
               </div>
               
               
               <div class="col-md-6">
                 <div class="brdr">
                  <img width="50" src="/img/rehab.svg" alt="Rehabilitation and Prevention">
                   <h3>Rehabilitation and Prevention</h3>
                   </div>
               </div>
               
            </div>
            
            
        </div>
    </section>