    <footer class="foot">
        <div class="container">
            <p>&copy; {{site.time | date: '%Y'}} by <strong>Kesh Raghuveer</strong>. All Rights Reserved.</p>
            <p>Designed by <a href="http://webjeda.com">webjeda</a></p>
           <!--  <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul> -->
        </div>
    </footer>