<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
            </div>
            <div style="text-align:center" class="footer-col footer-col-2">
            <p>Copyrights 20{{site.time | date: '%y'}} <strong><a target="_blank" href="/blog/">Kesh Raghuveer</a></strong>. All Rights Reserved.</p>
            </div>
            <div class="footer-col footer-col-3">
            </div>
        </div>
    </div>
</footer>