<section id="location" class="bg-primary">
    <div class="container">
       <div class="row text-center"><h2>Locations</h2></div>
       <div class="row"></div>
        <div class="row mt50">
            <div class="col-md-6 mb-50">
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyALWZ-zPga8tknZ9ZGF3kdFBVO51srZTRg&q=Executive Lifestyles Gym - 555 W 8th Ave #100, Vancouver, BC V5Z 1C6, Canada" width="100%" height="350" frameborder="0" style="border:5px solid #fff" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 mt20">
               <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyALWZ-zPga8tknZ9ZGF3kdFBVO51srZTRg&q=Restore Human, 1606 Yew St, Vancouver, BC V6K 3E7, Canada" width="100%" height="350" frameborder="0" style="border:5px solid #fff" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>



